<!-- <div style="margin: 50px">
  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" tooltip="add quiz">
      <span class="glyphicon glyphicon-plus"></span>
  </button>
  <table class="table table-striped" style="margin-right: 10%" [dragula]='"bag-onee"' [dragulaModel]='questions'>
    <thead>
        <tr>
              <th scope="col">Id</th>
              <th scope="col">Type</th>
              <th scope="col">Level</th>
              <th scope="col">Actions</th>
          </tr>
    </thead>      
    <tbody>
        <tr *ngFor="let quiz of quizzes">
            <td>{{ quiz. id }}</td>
            <td>{{ quiz. type }}</td>
            <td>{{ quiz. level }}</td>
            <td>
            <button type="button" class="btn btn-success" [routerLink]="['quiz', quiz.id, 'start']" tooltip="start quiz">
                <span class="glyphicon glyphicon-play-circle"></span>
            </button>
            
            <button type="button" class="btn btn-primary" (click)="getQuiz(quiz.id)" data-toggle="modal" data-target="#myModal" tooltip="edit quiz">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <br>
            <button type="button" class="btn btn-danger" (click)="deleteQuiz(quiz.id)" tooltip="delete quiz" placement="bottom">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
            
            <button type="button" class="btn btn-info"  [routerLink]="['quiz', quiz.id, 'manage']" tooltip="manage quiz" placement="bottom">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            </td>
        </tr>
    </tbody>


  </table>
</div> -->


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new quiz</h4>
        </div>
        <div class="modal-body">
            <mat-card class="card">
                <mat-card-content>
                    <mat-form-field>
                        <input [(ngModel)]="quiz.type" matInput placeholder="Type" />
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input [(ngModel)]="quiz.level" matInput placeholder="Level">
                    </mat-form-field>
            
                    <mat-card-actions>
                        <button (click)="post()" mat-button color="primary" data-dismiss="modal">Add</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>


<!-- <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)"> -->
<div class="row" style="margin-top: 15px">
    <div class="col-md-10">
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input #search class="search" type="text" class="form-control" placeholder="Search...." (keydown.enter)="onSearch(search.value)">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" (click)="onSearch(search.value)"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <ng2-smart-table 
            [settings]="settings" 
            [source]="source"
            (deleteConfirm)="onDeleteConfirm($event)"
            (createConfirm)="onCreateConfirm($event)"
            (editConfirm)="onEditConfirm($event)"
            (custom)="customAction($event)">
        </ng2-smart-table>
    </div>
</div>
