<div class="row">
    <button id="btn-add-q" type="button" class="btn btn-primary pull-right" (click)="openModalQuestion(templateQuestion, question._id)" tooltip="Add new question" placement="bottom">
        Add new question
    </button>
</div>

<div [dragula]='"bag-one"' [dragulaModel]='questions'>

<mat-card *ngFor="let question of questions; let i = index">
  <mat-card-header >  
  </mat-card-header>

  <mat-card-content style="background-color : #e4f7ff">
    <div class="row">
      <div class="col-md-6" style="padding-left: 2%; padding-bottom: 1%;">
         <h3 >{{ question.text }}</h3>
          <button type="button" class="btn btn-info" (click)="openModalQuestion(templateQuestion, question._id)" tooltip="Edit question" placement="bottom">
              <span class="glyphicon glyphicon-edit"></span>
          </button>

          <button type="button" (click)="deleteQuestion(question._id)" class="btn btn-danger" tooltip="delete the question with his answers" placement="bottom">
              <span class="glyphicon glyphicon-remove-circle"></span>
          </button >

          <button type="button" class="glyphicon glyphicon-move pull-right margin-move" tooltip="move" placement="top">
            <span class="cursor-hand"></span>
        </button >
      </div>
     
      <ul class="list-group col-md-6 " style="padding: 1% 3% 0 0 ">
        <li class="cursor-pointer list-group-item row " *ngFor="let r of responses | responsesOfQuestion : question._id" >
          <div class="col-md-11 " (click)="openModalUpdate(template, r._id)" tooltip="click to edit">
            <input type="checkbox" [attr.checked]="r.is_right == true ? 'checked' : null" disabled />
            <span>{{r.text}}</span>
          </div>
          <div class="col-md-1" tooltip="delete this response" placement="bottom">
            <span class="glyphicon glyphicon-remove-circle pull-right" (click)="deleteResponse(r._id)"></span>
          </div>
        </li>
        <button type="button" class="btn btn-primary btn-add-answer" style="margin-top: 3px;margin-left: -15px;" tooltip="Add answer" placement="bottom" (click)="openModalAdd(template, question._id)">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new response</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-card class="card">
        <mat-card-content>
            <mat-form-field>
                <textarea [(ngModel)]="response.text" matInput placeholder="Text"></textarea>
            </mat-form-field>
            
            <input [(ngModel)]="response.is_right" type="checkbox"><span style="color: rgba(0,0,0,.54)">Click if correct</span>
    
            <mat-card-actions>
                <button (click)="addResponse()" mat-button color="primary" data-dismiss="modal">Add</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #templateQuestion>
    <div class="modal-body">
      <mat-card class="card">
          <mat-card-content>
              <mat-form-field>
                  <textarea [(ngModel)]="question.text" matInput placeholder="Text"></textarea>
              </mat-form-field>
              
              <mat-card-actions>
                  <button (click)="postQuestion()" mat-button color="primary" data-dismiss="modal">Edit</button>
              </mat-card-actions>
          </mat-card-content>
      </mat-card>
    </div>
  </ng-template>